<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>    
      </div>  
     <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-left">
          <li><a (click)="gotoPath('Home')">Home</a></li>
          <li><a (click)="gotoPath('Episodes')">Episodes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="gotoPath('About')">About</a></li>
        <li><a (click)="gotoPath('Shop')">Shop</a></li>
      </ul>
    </div> 
  </nav>
  