<div class="pageSections">
  <p>IMAGE OF MN CREW</p>
</div>

<div class="pageSections">
  <!-- <h2>About Mars Neptune</h2> -->
  <div class="boxed">
  <p>
    {{synopsis}}
  </p>
  </div>
</div>
<div class="pageSections">
  <!-- <h2>How the story came about</h2> -->
  <div class="boxed">
  <p>
    BACKGROUND
    <br>
    {{backgroundStory}}
  </p>
  </div>
  <div class="boxed">
  <p>
    COOL IMAGE
  </p>
  </div>
</div>
<div class="pageSections"> 
<!-- <h2>About Me</h2> -->
  <p>
    ABOUT ME
    <br>
    {{bio}}
  </p>
 </div>
 <div class="pageSections">
  <p>
    CONTACT INFO
  </p>
 </div>