
<p-dialog header="{{characterName}}" [(visible)]="characterDisplay" (onHide)="characterClose()" modal="modal" width="300" [responsive]="true">
    <div> 
        <p>{{characterBio}}</p>
    </div>
    <p-footer><h5>"{{characterQuote}}"</h5></p-footer>
</p-dialog> 
<p-dialog header="Settings" [(visible)]="settingDisplay"  modal="modal" width="500" [responsive]="true" >
    <app-settings></app-settings>
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="settingsClose()" class="ui-button-info"  label="Save"></button>
        <button type="button" pButton icon="fa-close" (click)="settingsClose()" class="ui-button-info" label="Cancel"></button>
    </p-footer>
</p-dialog>

<mat-sidenav-container class="content-container" (click)="toggleDrawer()">
    <div class="twinkling"></div>
    <div class="clouds">
          <div class="hamburgers" id="hamburger" (click)="hamburgerToggle()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <app-header></app-header>
          <router-outlet></router-outlet>
    </div>  
    <mat-sidenav #sidenav class="mn-sidenav" mode="push">
    <app-nav-slider-menu #navmenu (eventClick)="updateTitle($event)"></app-nav-slider-menu>
    </mat-sidenav>
</mat-sidenav-container>
