.mat-list-item{
    color: #5F6769;
    font-weight: bolder;
    font-style: italic;
    
}

.mat-list-icon{
    color: darkgrey;
}

.mat-subheader{
    color:  #787C7D;
    
}

settings{
    color: #787C7D;
}