<div>
  <!-- <h2>Profile</h2>
  <hr>
  <span class="ui-float-label">
      <input id="name" type="text" size="30" value="{{userName}}" pInputText> 
      <label for="name">Full Name</label>
  </span>
  <br>
  <span class="ui-float-label">
      <input id="email" type="text" size="30" value="{{userEmail}}" pInputText> 
      <label for="email">Email address</label>
  </span>
  <br>
  <span class="ui-float-label">
      <input id="password" type="password" size="30" pPassword/> 
      <label for="password">Password</label>
  </span> -->
  <h2>Notifications</h2>
  <hr>
  <mat-slide-toggle color="primary">1</mat-slide-toggle>
  <br>
  <br>
  <mat-slide-toggle color="primary">2</mat-slide-toggle>
  <br>
  <br>
  <mat-slide-toggle color="primary">3</mat-slide-toggle>
  <h2>Preferences</h2>
  <hr>
  <!-- checkboxes for preferences -->
  <!-- <mat-slide-toggle color="primary">Notifications</mat-slide-toggle> -->
  <!-- discription of notifications sent -->
  <!-- space view or planet view -->
</div>
